<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="KettleJobInfoMapper">
    <resultMap id="KettleJobInfo" type="com.xxl.job.admin.core.model.KettleJobInfo" >
        <result column="id_job" property="id" />
        <result column="id_directory" property="idDirectory" />
        <result column="name" property="name" />
        <result column="description" property="description" />
        <result column="extended_description" property="extendedDescription" />
        <result column="job_version" property="version" />
        <result column="job_status" property="status" />
        <result column="created_date" property="createDate" />
        <result column="modified_date" property="modifiedDate" />

        <collection property="kettleTransInfoList" javaType="ArrayList" column="id_job" ofType="KettleTransInfo" select="KettleTransInfoMapper.loadByJobId"/>

    </resultMap>

    <sql id="Base_Column_List">
        t.id_job,
        t.id_directory,
        t.name,
        t.description,
        t.extended_description,
        t.job_version,
        t.job_status,
        t.created_date,
        t.modified_date
    </sql>

    <select id="pageList" parameterType="java.util.HashMap" resultMap="KettleJobInfo">
        SELECT
        <include refid="Base_Column_List" />
        FROM r_job t
        LEFT JOIN (SELECT * FROM xxl_job_qrtz_trigger_info WHERE glue_type = 'KETTLE_JOB') b on t.id_job = b.executor_param
        ORDER BY b.id DESC
        LIMIT #{offset}, #{pageSize}
    </select>

    <select id="count" resultType="int">
        SELECT COUNT(1)
        FROM r_job t
    </select>

    <select id="load" resultMap="KettleJobInfo" parameterType="java.lang.Integer">
        SELECT
        <include refid="Base_Column_List" />
        FROM r_job t
        WHERE t.id_job = #{id}
    </select>
</mapper>