<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="KettleTransInfoMapper">

    <resultMap id="KettleTransInfo" type="com.xxl.job.admin.core.model.KettleTransInfo" >
        <result column="id_transformation" property="id" />
        <result column="id_directory" property="idDirectory" />
        <result column="description" property="name" />
        <result column="extended_description" property="extendedDescription" />
        <result column="trans_version" property="version" />
        <result column="trans_status" property="status" />
        <result column="created_date" property="createDate" />
        <result column="modified_date" property="modifiedDate" />
    </resultMap>

    <sql id="Base_Column_List">
        t.id_transformation,
        t.id_directory,
        t.description,
        t.extended_description,
        t.trans_version,
        t.trans_status,
        t.created_date,
        t.modified_date
    </sql>

    <select id="pageList" parameterType="java.util.HashMap" resultMap="KettleTransInfo">
        SELECT
        <include refid="Base_Column_List" />
        FROM r_transformation t
        LEFT JOIN (SELECT * FROM xxl_job_qrtz_trigger_info WHERE glue_type = 'KETTLE_TRANS') b on t.id_job = b.executor_param
        ORDER BY b.id DESC
        LIMIT #{offset}, #{pageSize}
    </select>

    <select id="count" resultType="int">
        SELECT COUNT(1)
        FROM r_transformation t
    </select>

    <select id="load" resultMap="KettleTransInfo" parameterType="java.lang.Integer">
        SELECT
        <include refid="Base_Column_List" />
        FROM r_transformation t
        WHERE t.id_transformation = #{id}
    </select>

    <select id="loadByJobId"  resultMap="KettleTransInfo" parameterType="java.lang.Integer">
        SELECT
        <include refid="Base_Column_List" />
        FROM r_transformation t
        LEFT JOIN r_jobentry_attribute b ON t.id_transformation = b.value_str
        WHERE b.code = 'trans_object_id' AND id_job = #{id}
    </select>
</mapper>